.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    padding-top: 29px;
    display: flex;
}

.logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;

}

.nav li {
    margin-right: 24px;
    /* align-self: o auto; */
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;

}

.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    display: flex;
    width: 412px;
    height: 40px;
    padding-left: 19px;
    padding-right: 16px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 64px;
}

.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}



.search input::placeholder {
    font-size: 14px;
    color: #999;
}

.search a {
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
    align-self: center;
}



.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    vertical-align: middle;
}


.banner {
    background-color: #0092cb;
    height: 420px;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}


.banner .left a {
    display: block;
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}


.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    margin-top: 60px;
    border-radius: 10px;

}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;

}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right span {
    color: #00a4ff;

}

.banner .right dd strong {
    font-weight: 400;
    color: #999;

}

.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}


.recommend {
    display: flex;
    height: 60px;
    margin-top: 11px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}


.recommend h3 {
    color: #00a4ff;
    font-size: 18px;
    font-weight: 400;


}


.recommend ul {
    flex: 1;
    display: flex;
}


.recommend ul li a {
    font: size 18px;
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
}

.recommend ul li:last-child a {
    border-right: none;
}

.recommend .modify {
    font-size: 16px;
    color: #00a4ff;

}



.course {
    margin-top: 15px;

}

.hd {
    justify-content: space-between;
    display: flex;
    height: 60px;
    line-height: 60px;


}


.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
    padding-right: 20px;

}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.bd li {
    width: 228px;
    height: 271px;
    margin-bottom: 14px;
    background-color: #fff;

}


.bd li .pic {
    height: 156px;



}

.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}


.bd li .text p {
    line-height: 20px;
    font-size: 14px;
    color: #999;
}

.bd li .text span {
    color: #fa6400;
}

.bd li .text p i {
    font-style: normal;
}

.hd ul {
    display: flex;
}

.hd li {
    margin-right: 60px;
    font-size: 16px;

}

.hd li .active {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
    /* background-color: #fff; */
}

.bd .right {
    width: 957px;
    /* background-color: #fff; */
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

.footer {
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 440px;
    /* background-color: pink; */
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 17px;
    color: #999;
}

.footer .left .downlode {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right {
    display: flex;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right a {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}